*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 14px;
}

h1{
    font-size: 50px;
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    letter-spacing: 3px;
}

[id*="button"]{
    background-color: #dddddd;
    cursor: pointer;
    width: 100%;
    padding: 10px;
    text-align: center;
    display: block;
    font-weight: 500;
}

#create-button{

}

#new-button{
    display: none;
}

#load-button{
    margin-top: 10px;
}

#info-box{
    display: block;
    max-width: 600px;
    width: 90%;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 50px;
    resize: vertical;
    height: 60vh;
    outline: none;
}

#header{
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
}

#bracket-wrap{
    width: 100%;
    overflow-x: scroll;
    white-space: nowrap;
    height: 100vh;
    position: relative;
    z-index: 100;
    padding: 110px 30px 50px 30px;
}

tr{
    height: 20px;
    display: block;
}

td{
    display: block;
    overflow: hidden;
}

.col{
    width: 250px;
    display: inline-block;
    vertical-align: text-top;
    position: relative;
    z-index: 0;
}

[class*="cell"]{
    width: 100%;
    height: 25px;
    padding-left: 10px;
    line-height: 30px;
}

.cell-info-top{
    border-bottom: 1px solid #000000;
}

.cell-info-bottom{
    border-bottom: 1px solid #000000;
    border-right: 1px solid #000000;
}

.cell-info-spacer{
    border-right: 1px solid #000000;
}
